--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.9.0
torchvision==0.24.0

opencv-python-headless==4.9.0.80
ultralytics==8.0.196
streamlit==1.35.0
Pillow==10.4.0
numpy==1.26.4
fpdf2==2.7.9
requests==2.32.3
