--extra-index-url https://download.pytorch.org/whl/cpu
streamlit==1.39.0
ultralytics==8.3.45
torch==2.5.1+cpu
torchvision==0.20.1+cpu
opencv-python-headless==4.10.0.84
Pillow==10.4.0
numpy==1.26.4
fpdf2==2.8.0
requests==2.32.3
